body{
  text-align: center;
}
.btn{
  width: 120px;
  height: 28px;
  margin: 20px;
}
.Box{
  
  border: 2px solid black;
  width: 700px;
  height: 272px;
  position: absolute;
  right: 335px;
  
}
.active{
  background-color: aqua;
  border: 1px solid;
}

